* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /* letter-spacing: 1px; */
    
}
html {
    scroll-behavior: smooth;
  }


/* ----------------NAV-BAR----------------- */

.nav{
    z-index: 100000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo-img img {
    border-radius: 50%;
    padding: 5px;
    /* padding-right: 1rem; */
}

.nav-left p {
    padding-left: 0.7rem;
    font-size: 1.2rem;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 55vw; */
}

.nav-right .list ul {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;

}

.nav-right .list ul li {
    padding: 1.3rem;
}

.nav-right .list ul a:hover {
    color: rgba(0, 98, 185, 0.8);
}

.nav-right .list ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}



.nav {
    display: flex;
    justify-content: space-between;
    /* background-color: skyblue; */
    padding: 0.5rem 2.7rem;
    /* padding-right: 0; */
    font-weight: 700;
    color: #333;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 10px 100px rgba(145, 142, 142, 0.496);
}


/* ----------------------------HOME---------------------------- */

.intro {
    /* background: url("common-bg.svg"); */
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(common-bg.svg);
    ;
}

.main {
    /* height: 95vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-top: 5rem;
    color: #fff
}

.main p {
    text-align: center;
    width: 70%;
    padding: 1.4rem;

    font-size: 1.1rem;
    color: #fff
}

.main h1 {
    font-size: 2.8rem;

    letter-spacing: 2px;
    font-weight: 800;
    color: #fff
}

.main button {
    background-color: #fff;
    padding: 0.9rem 4.2rem;
    color: #333;

    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-top: 2rem;

}

.main button:hover {
    transition: transform .3s;
}


/* ------social---------- */

.social {
    background: rgba(0, 98, 185, 0);
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    top: 38%;
    /* border-radius: 10px; */
}

.links img {
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    margin: 10px;
    filter: invert(100%);
    /* background-color: aqua; */

}

.links:hover {
    background: rgba(0, 98, 185, 0.4);
}

.mouse-section {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    /* padding-bottom: 5rem; */
    /* width: 100%; */
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    /* -webkit-animation: wheel 1.3s infinite; */
}


/* -------------------ABOUT------------------ */

.about {

    margin: auto;
    /* margin-top: 4rem; */
    background: #fafafa;
    /* height: 95vh; */
    width: 100%;
    padding: 5.5rem 0.5rem;
    padding-top: 7.5rem;
    /* padding-bottom: 3.5rem; */
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.para {
    width: 60%;
    margin: auto;
    color: #666;
    text-align: center;
}

.underline {
    width: 35px;
    height: 5px;
    background-color: #7843E9;
    margin: 0.7rem auto;
    border-radius: 5px;

}


.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 1rem; */
}

.bottom .right h2 {
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.skill {
    padding: 0.8rem 1.8rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: gray;
    display: inline;

}

.right{
    padding-left: 2rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
}

.left h2 {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.left {
    width: 90%;
    padding-left: 3.5rem;
}

.left p {
    font-size: 1rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 0.5rem;
}


#btn1 {
    background: #0062b9;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    padding: 12px 29px;
    border: none;
    font-size: 15px;
    margin-top: 1rem;
}


/* ---------------------Projects------------------ */


.projects{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.projects h1{
    letter-spacing: 1px;
   text-align: center;
   /* margin: 10rem auto; */
   margin-bottom: 1.2rem;
}

.l{
    display: flex;
    align-items: center;
    justify-content: center;
}

.l img{
    height: 310px;
    width: 500px;
}

.project{
    margin:40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.r p{
    font-size: 1rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 0.5rem;
    padding-right: 2.5rem;
}

.r h2{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
}

.btn2 a{
    text-decoration: none;
    color: #fff;
}
.btn2{
    background: #0062b9;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    padding: 12px 29px;
    border: none;
    font-size: 15px;
    margin-top: 1rem;
    

}

/* ----------------------contact------------------------ */

.contact{
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(common-bg.svg);
    padding: 4rem 0;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.contact h1{
    padding-bottom: 0.5rem;
}

.contact .para{
color: #666;
padding: 1rem;
}

form{
    padding: 38px;
}


.contact-form{
    width: 55%;
    background-color: #fff;
    margin: 4rem auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}

.contact-form label{
    display: block;
    color: #666;
    font-size:12.9px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    color: #333;
    padding: 0.7rem;
    width: 100%;
    /* border: 1px solid #ebebeb; */
    font-size: 12.9px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    
}

.input-field{
    margin-bottom: 2.2rem;
}

#form-btn{
    /* width: 30%; */
    background-color: #0062b9;
    color: #fff;
    border: none;
    padding: 10px 55px;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 600;
}

/* -------------------------FOOTER-------------------------- */
.footer {
    background: black;
    color: white;
    display: flex;
    padding: 6rem 4rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    
}

.f-left p{
    font-size: 15px;
}

.f-left h3,.f-right h3{
    padding-bottom: 1rem;
}

.f-left{
   width: 40%;
}

.f-social{
    display: flex;

}

.f-links{
    padding: 4px;
}

.f-links img{
    height: 30px;
    width: 30px;
    filter: invert(100%);
}


.final{
    background-color: black;
    padding-top: 2rem;
    
}

.final p{
    color: white;
    text-align: center;
    font-size: 10px;
    padding-bottom: 1rem;
}

.final p a{
    color: white;
}